
body{
	background-color: #E1E3E5;
}

@media (min-width: 480px){
	.box {
    width: 40%;
    float: left;
  }
}

@media (min-width: 960px){
	.box {
    width: 25%;
    float: left;
  }
}


.box{
   margin: 20px;
   background: white;
   border:10px;
   border-color: grey;
   padding: 10px;
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.box__title {
	padding: 20px;
}

.box__text {
	padding-bottom: 20px;
}

.boxes {
	width: 50%;
	margin: 0 auto;
}

.box__good {
	background-color: #EBFFD3;
	font-size: 14px;
	color: #7FA84E;
	border: 0px solid;
	border-radius: 2px;
	padding: 10px;
}

.box__bad {
	background-color: #FFD3D3;
	font-size: 14px;
	color: #A84E4E;
	border: 0px solid;
	border-radius: 2px;
	padding: 10px;

}