/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap"; 
$primary_color : black;
$secondary_color : red;


.menu {
	padding:2em;
}

.a {
	color: red;

}

.header a {
	color: $primary_color;

}